{{!-- Page to show details of <%= entitiesName %> --}}
{{#with-rdfa-context class="container" model=model as |ctx|}}
  <div class="page">
    <h2 class="h2">{{link-to (t "<%= entityName %> overview") "<%= entitiesName %>.index"}} &lt; {{t (humanize '<%= entityName %> details')}}</h2>
    <div class="properties">
      <div class="properties__title">
        {{t (humanize '<%= entityName %> data')}}
        <dl>
          <dt class="properties__label">URI</dt>
          <dd class="properties__data">{{#link-to "<%= entitiesName %>.show" model href=model.uri}}{{model.uri}}{{/link-to}}</dd>
          <%= attributes.map( function(property) {
            let topic = `<dt class="properties__label">{{t "${property.name}"}}</dt>`;
            let content = '';
            if (property.kind == "language-string-set") {
              content=`<dd class="properties__data">
                {{#each model.${property.name} as |langString|}}
                  <span property={{model.rdfaBindings.${property.name}}} lang="{{langString.language}}" content="{{langString.content}}">
                    <span class="language-string-set__content">"{{langString.content}}"</span><span class="language-string-set__language">@{{langString.language}}</span>
                  </span>
                {{/each}}
              </dd>`;
            } else {
              content=`<dd class="properties__data">{{ctx.get prop="${property.name}"}}</dd>`;
            }
            return `${topic} ${content}`;
              }).join('\n')
          %>
          <%= belongsToRelationships.map( function(rel) {
          return `<dt class="properties__label">{{t "${rel.name}"}}</dt>
          <dd class="properties__data">{{#ctx.get prop="${rel.name}" useUri=true link-to="${rel.relRoute}.show" as |ctx val|}}{{val.stringRep}}{{/ctx.get}}</dd>`
          }).join('\n') %>
          <%= hasManyRelationships.map( function(rel) {
          return `<dt class="properties__label">{{t "${rel.name}"}}</dt>
          <dd class="properties__data">
            {{#ctx.each prop="${rel.name}" useUri=true link-to="${rel.relRoute}.show" as |ctx val|}}
              {{val.stringRep}}
            {{/ctx.each}}
          </dd>`
          }).join('\n') %>
        </dl>
      </div>
    </div>
  </div>

  {{!-- Actions to go back to the list-view or edit <%= entityName %> if it's an editable application. --}}
  <div class="actions">
    {{#link-to "<%= entitiesName %>" class="button" title="Return to list" tagName='button'}}{{t "< Return to the list"}}{{/link-to}}
    <%= ((!readonly)?`{{#link-to "${entitiesName}.edit" model class="button" title=(t (humanize "Edit this ${entityName}")) tagName="button"}}{{t 'edit'}}{{/link-to}}`:'') %>
  </div>
{{/with-rdfa-context}}
